<div class="event" data-location="{{location}}" data-date="{{date}}" data-time="{{time}}">
  <div class="eventContainer">
    <div class="imgContainer">
      <img src="{{photoURL}}" alt="{{description}}">
    </div>
    <div class="eventDetails">
      <a href="#" class="eventTitle"> {{title}} </a> <span class="date">{{date}}</span> <span class="time">{{time}}</span><span class="location"> {{location}}</span>
      <button type="button" class="goingButton"><i class="fa fa-check" aria-hidden="true"></i></button> <button type="button" class="maybeButton"><i class="fa fa-question" aria-hidden="true"></i></button>
      <button type="button" class="nopeButton"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
